@charset "UTF-8";
/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0;padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
select,
textarea{ outline:none; border:none; border:0;     -webkit-appearance: none; border-radius: 0;}
select{-moz-appearance: none; text-indent: 0.01px;
    text-overflow: '';}
select::-ms-expand {
    display: none;
}
select::-moz-focus-inner {
  border: 0;
}

select:focus
{
  outline: none;
}
/*BASIC DEFINITIONS*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{margin:0px 0px 0px 0px;  }
body *{font-family:'Open Sans', Arial;  }
.clear{ clear:both; height:1px;  }
a{cursor:pointer; outline:none;}
* strong{font-weight:bold !important; }

/*PANTALLAS REGISTRO*/

    /*LOGIN*/
    .bg_login{background: url('../images/bg.jpg') no-repeat center top fixed;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;}
    .login{width:500px; margin:173px auto 0px auto;}    
    .foot-log{width: 500px; margin:0px auto; padding-top:30px; overflow:hidden; background-color: rgba(255, 255, 255, 0.6);background: rgba(255, 255, 255, 0.6);color: rgba(255, 255, 255, 0.6);}
    .foot-log label{font-size:16px; color:#2F2F2F; float:left; line-height:31px; width:180px; text-align:right; padding-right:15px;     }
    .foot-log .field1{float:left; width:245px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; padding:2px 15px 2px 15px; font-size:14px; color:#2F2F2F; height:34px;   outline:none; border:none; border:0;     -webkit-appearance: none; background-color: #FFF;}
    .box-login{padding-bottom:20px; margin-bottom:15px;  }
    .head-login{ display:block; overflow:hidden; height:80px;  background-color:#FFFFFF; padding:0px 25px 0px 25px;}
    .options-login{overflow:hidden; margin-bottom: 20px;  width: 500px;margin: 0 auto;margin-top: 20px;}
    .options-login .submit1{float:left; }
    .options-login ul{width:370px; float:left; }
    .options-login ul li{display:inline; margin-right:60px; line-height:35px;  }
    .options-login ul li a{color:#2D3336; font-size:13px; font-weight:700; text-decoration:none;    }
    .copyright ul li a,
    .copyright{ font-size:14px; color: #2f2f2f;  line-height:22px; width: 700px; margin: 0 auto;    text-align: center;margin-top: 50px;margin-bottom: 20px;}
    .copyright ul{margin-top:40px; }
    .copyright ul li{display:inline; margin-right:60px;  }
    .copyright ul li a{}
    

    /* CODE BOX*/
    .code-box{width:842px; margin:220px auto 0px auto; background-color: rgba(255, 255, 255, 0.8);background: rgba(255, 255, 255, 0.8); padding:25px; text-align:center;  }
    .code-box .titulo1{background:url('../images/haz_corazon.png') no-repeat center center; width:424px; height:41px; margin:0px auto;  }
    .logo-corazon{background:url('../images/logo_codebox.png') no-repeat center center; width:303px; height:129px; display:block;  margin:0px auto 10px auto;  }
    .code-box h3{font-size:14px; font-weight:600; color:#2997D5; margin-bottom:30px;    }
    .code-box h4{font-size:14px; font-weight:600; color:#D54254; margin-bottom:30px;    }
    .code-box h2{font-size:16px; font-weight:600; color:#2997D5; margin-top:30px; margin-bottom:30px;     }
    .code-box p{font-size:14px; line-height:28px;  }
    .code{text-align:center; }
    .code .field{ display:inline-block;  width:245px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; padding:2px 15px 2px 15px; font-size:14px; color:#2F2F2F; height:34px;   outline:none; border:none; border:0;     -webkit-appearance: none; background-color: #FFF; margin-bottom:25px; }
    .code .sub{background-color:#D54254; display:inline-block; width:130px; color:#FFFFFF; font-size:13px; height:36px; line-height:35px; text-decoration:none; outline:none; border:0px; cursor:pointer;}

/*LEGAL*/
    .legal-box{ width: 620px; padding: 20px 40px 20px 40px; background-color: #DDD}
    .legal-box h1{  font-size: 24px; color: #2997D5;font-family: 'Open Sans', Arial; margin: 0px}
    .legal-box p{ font-size: 12px;font-family: 'Open Sans', Arial; padding: 0px; margin: 0px; margin-bottom: 10px; line-height: 18px; }
    .legal-box .legal-cont{ background: #FFF; padding: 10px; width: auto; height: 200px; overflow: scroll; margin-top: 20px; margin-bottom: 25px}
    .legal-acepto .label-acepto{font-size: 14px;font-family: 'Open Sans', Arial; margin-left: 10px}
.close-light{  bottom: 10px; background-image: url('../images/close-icon.png'); width: 26px; height: 26px; float: right; position: relative;bottom: 30px; left: 53px}
.close-legal{ float: right}




